@import 'assets/colors.scss';
.wapper{
   text-align: center;
   padding: 20px;
}
.maylike-products-wrapper {
   padding: 20px;
   align-items: center;
   overflow-x: auto;
}
.maylike-products-wrapper h2 {
   text-align: center;
   color: #324d67;
   font-size: 28px;
}

.maylike-products-container {
   display: flex;
   flex:1;
   gap: 15px;
   margin-top: 20px;
   padding: 20px;
}
.maylike-products-wrapper::-webkit-scrollbar {
   width: 5px;
   height: 5px;
}

.maylike-products-wrapper::-webkit-scrollbar-thumb {
   background: $light-color;
   border-radius: 8px;
}
