@import 'assets/colors.scss';

.laptop {
   margin-bottom: 20px;
   text-align: center;
   background-color: $layout;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.accessory_by-price {
   margin-top: 2rem;
   margin-bottom: 20px;
   text-align: center;
   background-color: $layout;
}

.accessory_non-product {
   margin-bottom: 0px;
   text-align: center;
}

.accessory_by-price h2 {
   margin-bottom: 2rem;
}

.laptop h2 {
   margin-bottom: 2rem;
}

.laptop_non-product {
   margin-bottom: 0px;
   text-align: center;
}

.filter_price {
   margin: 10px 10px;
   padding: 5px;
}

.title_category {
   margin: 20px 0;
}

.block_price {
   display: flex;
   margin: 0 auto;
   justify-content: center;
}

.price_filter {
   padding: 10px;
   border-radius: 8px;
}

.block_filter {
   background-color: $white;
   border-radius: 8px;
   margin: 0 10px;
   text-align: center;
   box-shadow: $box-shadow;
}

.price_filter:hover {
   cursor: pointer;
   background-color: #868dcc;
   color: #ffffff;
   height: 100%;
}

@media (max-width: 768px) {
   .filter_price {
      margin: unset;
      padding: unset;
   }

   .block_price {
      display: flex;
   }
}

.not_found-product {
   margin: 20px auto;
}