@import 'assets/colors.scss';

.laptop {
   margin-bottom: 20px;
   text-align: center;
   background-color: $layout;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.products-category {
   display: inline-grid;
   grid-template-rows: auto auto auto auto;
   grid-template-columns: auto auto auto auto;
   flex-wrap: wrap;
   justify-content: center;
   gap: 15px;
   margin: 0 auto;
   width: 75%;
   margin-top: 20px;
   margin-bottom: 20px;
}

.accessory_by-price {
   margin-top: 2rem;
   margin-bottom: 20px;
   text-align: center;
   background-color: $layout;
}

.accessory_non-product {
   margin-bottom: 0px;
   text-align: center;
}

.accessory_by-price h2 {
   margin-bottom: 2rem;
}

.laptop h2 {
   margin-bottom: 2rem;
}

.laptop_non-product {
   margin-bottom: 0px;
   text-align: center;
}

.title_category {
   margin: 20px 0;
}


.filter_price {
   margin: 10px 10px;
   padding: unset;
}

.block_price {
   display: flex;
   justify-content: center;
   align-items: center;
   overflow-x: auto;
}

.block_price::-webkit-scrollbar {
   width: 0;
   height: 0;
}

.price_filter {
   padding: 10px;
   flex: 1;
   display: flex;
   white-space: nowrap;
}

.block_filter {
   background-color: $white;
   border-radius: 8px;
   margin: 0 10px;
   min-width: auto;
   text-align: center;
   padding: 1px;
   color: $black;
   margin-right: 10px;
}

.block_filter:hover {
   cursor: pointer;
   color: $black;
}

.block_filter_active {
   box-shadow: 0 0 0 1px $primary;
   background-color: $white;
   color: $black;
   border-radius: 8px;
   // padding: 0;
   margin: 0 10px;
   min-width: auto;
   text-align: center;
   margin-right: 10px;
}

@media (max-width: 1023px) {
   .products-category {
      grid-template-columns: repeat(4, 1fr);
      max-width: 1015px
   }
}

@media (max-width: 768px) {
   .filter_price {
      margin: unset;
      padding: unset;
   }

   .block_price {
      justify-content: space-between;
   }

   .products-category {
      display: grid;
      width: 100%;
      grid-template-columns: repeat(2, 1fr);
   }

   .products-category-non {
      display: flex;
      justify-content: center;
      align-items: center;
   }
}

.not_found-product {
   margin: 20px auto;
}