@import 'assets/colors.scss';

.slick-header {
   display: none;
}

.link {
   margin-right: 20px;
   color: black
}

@media (max-width: 1023px) {
   .slick-header {
      display: flex;
      width: 100%;
      padding: 10px;
      align-items: center;
      overflow-x: auto;
      justify-content: space-between;
      margin-top: 56px;
      padding: 20px;
   }
}

.slick-header::-webkit-scrollbar {
   width: 1px;
   height: 1px;
}

.slick-header::-webkit-scrollbar-thumb {
   background: $layout;
}