
.header-container {
   display: flex;
   justify-content: center;
   padding: 18px;
   position: relative;
   background-color: #515154;
}
.logo {
   color: white;
   font-size: 18px;
   position: absolute;
   left: 12px;
}
.list-link_menu {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}
.item-menu {
   padding-left: 25px;
   padding-right: 25px;
   font-size: 18px;
   color: #FFFFFF;
}