@import 'assets/colors.scss';

.section_container-product {
   display: inline-grid;
   grid-template-rows: auto auto auto auto;
   grid-template-columns: auto auto auto auto;
   flex-wrap: wrap;
   justify-content: center;
   gap: 15px;
   width: 100%;
}

.btn_link {
   display: block;
}

.section_btn {
   width: 200px;
   padding: 0px 20px;
   color: $white;
   font-size: 18px;
   font-weight: 500;
   cursor: pointer;
   transform: scale(1, 1);
   transition: transform 0.5s ease;
   padding: 12px;
   border-radius: 8px;
   background-color: $bg;
   border: none;
   // border: 1px solid $primary;
   background-color: $primary;
   margin: 20px 0;
}

.section_btn:hover {
   // transform: scale(1.1, 1.1);
   box-shadow: $box-shadow;
}

.title_cate {
   margin-top: 40px,
}

@media (max-width: 1023px) {
   .section_container-product {
      grid-template-columns: repeat(4, 1fr);
      max-width: 1015px
   }
}

@media (max-width: 768px) {
   .section_container-product {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
   }
}