@import 'assets/colors.scss';

.search_page {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 4.5rem;
   margin-bottom: 4.5rem;

   & .title_search {
      margin-top: 20px;
   }

   & .search_result {
      text-align: center;
   }


}

.search_product-result {
   flex-wrap: wrap;
   justify-content: center;
   gap: 15px;
   display: inline-grid;
   grid-template-rows: auto auto auto auto;
   grid-template-columns: auto auto auto auto;
   margin: 0 auto;
   width: 100%;
   margin-top: 20px;
   margin-bottom: 20px;
}

@media (max-width: 768px) {
   .search {
      width: 100%;
   }

   .search_result {
      // display: flex;
      // flex-direction: column;
      // justify-content: center;
      // align-items: center;
   }

   .search_product-result {
      display: grid;
      width: 100%;
      grid-template-columns: repeat(2, 1fr);
   }
}