@import 'assets/colors.scss';
.product-detail-container {
    display: flex;
    flex-direction: row;
}
.product-detail-left {
    flex: 50%;
    padding: 1.5rem;
}

.product-detail-right {
    flex: 50%;
    padding: 1.5rem;
}
.product_slider-image {
    width: inherit;
    display: flex;
    padding: 10px;
    align-items: center;
    overflow-x: auto;
}
.product-detail-image {
    border-radius: 8px;
    width: 90%;
    height: 90%;
    background-color: $white;
    transition: 0.3s ease-in-out;
}

.product-small_images {
    width: 90%;
    padding: 10px;
    margin-top: 16px;
}

.product-price {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
}

.product_info-title {
    margin-right: 10px;
}

.product_info-sub {
    margin: 1rem 0px;
    font-size: 18px;
}
.product_promition-detail{
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #324d67;
    border-radius: 16px;
}
.product-detail-right h4 {
    margin-top: 10px;
}

.product-detail-right p {
    margin-top: 10px;
}

.product-detail-right .price {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: $error
}

.product-detail_info {
    margin-top: 10px;
}

.product-detail_option {
    margin-top: 10px;
}

.configuration {
    display: flex;
    align-items: center;
}

.title-option {
    font-size: 16px;
    font-weight: bold;
}

.item-option {
    margin-left: 10px;
    border-radius: 4px;
    padding: 10px;
    background-color: $white;
}

.item-option:hover {
    color: $black;
    box-shadow: 0 0 0 1px $primary;
    background-color: $layout;
}

.util-product {
    padding: 10px;
    margin-top: 20px;
    border-radius: 8px;
    background-color: $white;
}

.product-promotion {
    text-decoration: line-through;
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-right: 10px;
    color: $light-color;
}

.promotion_price-product {
    display: flex;
    align-items: center;
}

.product-detail_promotion {
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #324d67;
    border-radius: 16px;
}

.title-promotion_product {
    color: $black;
    text-decoration: underline;
    margin-bottom: 14px;
}

.promiton-body_product {
    display: flex;
    flex-direction: column;
}

.item-promtion_product {
    margin: 10px 0;
}

.mcredit {
    margin-top: 20px;
    color: $error;
}

.product-button .buy-now {
    width: 200px;
    padding: 10px 20px;
    background-color: $bg;
    color: white;
    border: none;
    margin-top: 40px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transform: scale(1,1);
    transition: transform 0.5s ease;
    border-radius: 8px;
}

.product-button .buy-now:hover {
    transform: scale(1.1, 1.1);
}
.product_title_promotion {
    color: $black;
    text-decoration: underline;
    margin-bottom: 14px;
}

.product_promiton-body{
    display: flex;
    flex-direction: column;
}

.product_item-promtion {
    margin: 10px 0;
}
.appearence{
    display: flex;
    align-items: center;
}
.appearence_info-title {
    margin-right: 10px;
    font-size: 16px;
    font-weight: bold;
}
.appearence_info-sub {
    margin: 10px 0px;
    font-size: 18px;
}
.tabs_view-product {
    padding: 4rem;

    & .content_view {
        line-height: 30px;
    }
}

.util-product {
    margin-top: 1rem;
    & .content_view {
        margin: 1rem 0px;
    }
}



.product_multi-images {
    width: 120px;
    height: 120px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.product_multi-images:hover {
    transform: scale(1.1);
    transition: 300ms;
}

.product_slider-image::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.product_slider-image::-webkit-scrollbar-thumb {
    background: $light-color;
    border-radius: 8px;
}

.product-small_images{
    width: 100%;
    height: 130px;
    max-width: 130px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.product-small_images:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
@media (max-width:   1024px) {
    .product-detail-left {
            flex: 40%;
        }
        .product-detail-right {
            flex: 60%;
        }
}
@media (max-width: 768px) {
    .product-detail-container {
        flex-direction: column;
    }
    .tabs_view {
        padding: 2rem;
        transition: transform 0.5s ease;
    }
    .product-detail-image {
        align-self: center;
    }
    .product_detail-left-image{
        display: flex;
        flex-direction: column;
    }

    .product-detail-left {
        width: unset;
    }

    .product-detail-right {
        width: unset;
    }
}
