.table {
	border: 1px solid #ccc;
	border-style: solid;
	border-collapse: collapse;
}
.table_lable {
	background-color: #f7f7f7 !important;
	border-color: #eeeeee;
	border-style: solid;
	border-width: 1px;
	box-sizing: border-box;
	padding: 8px;
	vertical-align: top;
	width: 18.5209%;
}
.table_value {
	border-color: #eeeeee;
	border-style: solid;
	border-width: 1px;
	box-sizing: border-box;
	padding: 8px;
	vertical-align: top;
	width: 78.4791%;
}
