$white: #ffffff;
$error: #eb5757;
$warning: #ffac14;
$valid: #49cc6e;
$primary: #00afff;
$boder: #e4e7eb;
//theme
$bg: #010044;
$dark-color: #b8e9ff;
$black: #444;
$light-color: #666;
$border: 1px solid rgba(0, 0, 0, 0.1);
$border-hover: 0.1rem solid var($black);
$box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

// spacing
$spacing-md: 16px;
$spacing-lg: 32px;

// border radius
$borderRadius: 12px;

// header height
$headerHeight: 8vh;