$white: #ffffff;
$error: #eb5757;
$warning: #ffac14;
$valid: #49cc6e;
$primary: #00afff;
$boder: #e4e7eb;
//theme
$bg: #010044;
$dark-color: #b8e9ff;
$black: #444;
$light-color: #666;
$border: 0.1rem solid rgba(0, 0, 0, 0.1);
$border-hover: 0.1rem solid var($black);
$box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);

// spacing
$spacing-md: 16px;
$spacing-lg: 32px;

// border radius
$borderRadius: 12px;

// header height
$headerHeight: 8vh;