// accessory
.accessory-detail-container{
   display: flex;
   flex-direction: row;
   margin-top: 40px;
}
.accessory-detail-left{
   flex: 50%;
   padding: 20px;
}
.accessory-detail-right{
   flex: 50%;
   padding: 20px;
}
@media (max-width: 768px){
   .accessory-detail-container{
      flex-direction: column;
   }
}