// accessory
@import 'assets/colors.scss';

.accessory_layout {
   display: flex;
   flex-direction: column;
   margin-right: auto;
   margin-left: auto;
   max-width: 1200px;
}

.accessory-detail-container {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-content: center;
}

.accessory-detail-left {
   width: 50%;
   padding: 1.5rem;
}

.accessory-detail-right {
   width: 50%;
   padding: 1.5rem;
}

.accessory-detail-image {
   border-radius: 8px;
   width: 90%;
   height: 90%;
   background-color: $white;
   transition: 0.3s ease-in-out;
}

.accessory_detail-left-image {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.small-images {
   width: 90%;
   padding: 10px;
   margin-top: 16px;
}

.accessory_price {
   margin-top: 20px;
   font-size: 24px;
   font-weight: bold;
}

.accessory_info-title {
   margin-right: 10px;
}

.accessory_info-sub {
   margin: 1rem 0px;
   font-size: 18px;
}

.accessory_buttons .buy-now {
   width: 200px;
   padding: 10px 20px;
   background-color: $bg;
   color: white;
   border: none;
   margin-top: 40px;
   font-size: 18px;
   font-weight: 500;
   cursor: pointer;
   transform: scale(1, 1);
   transition: transform 0.5s ease;
}

.accessory_buttons .buy-now:hover {
   transform: scale(1.1, 1.1);
}

.promition-detail_accessory {
   padding: 10px;
   margin-top: 20px;
   border: 1px solid #324d67;
   border-radius: 16px;
}

.title-promotion_accessory {
   color: $black;
   text-decoration: underline;
   margin-bottom: 14px;
}

.promiton-body_accessory {
   display: flex;
   flex-direction: column;
}

.item-promtion_accessory {
   margin: 10px 0;
}

.tabs_view {
   padding: 4rem;

   & .content_view {
      display: flex;
      flex-direction: column;
      line-height: 30px;
   }
}

.util_accessory {
   margin-top: 1rem;

   &.util_accessory p {
      margin: 1rem 0px;
   }
}

.util_accessory {
   padding: 10px;
   margin-top: 20px;
   border-radius: 8px;
   background-color: $white;
}

.accessory_slider-image {
   width: inherit;
   display: flex;
   padding: 10px;
   align-items: center;
   overflow-x: auto;
}

.multi__image {
   width: 120px;
   height: 120px;
   margin-left: 10px;
   margin-right: 10px;
   box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.multi__image:hover {
   cursor: pointer;
   box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.accessory_slider-image::-webkit-scrollbar {
   width: 5px;
   height: 5px;
}

.accessory_slider-image::-webkit-scrollbar-thumb {
   background: $light-color;
   border-radius: 8px;
}

@media (max-width: 1024px) {
   .content_view {
      align-items: center;

      & p {
         display: flex;
         justify-content: center;
      }
   }
}

@media (max-width: 768px) {
   .accessory-detail-container {
      flex-direction: column;
   }

   .tabs_view {
      padding: 2rem;
      transition: transform 0.5s ease;
   }

   .accessory_slider-image {
      width: 400px;
   }

   .content_view {
      align-items: center;

      & p {
         display: flex;
         justify-content: center;
      }
   }
}