*{
	box-sizing: border-box;
}
body {
	font-family: 'Roboto', sans-serif;
	width: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
::-webkit-scrollbar {
	width: 0px;
}
a {
	text-decoration: none;
}
.layout{
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin: 0;
}
.main-container {
	max-width: 1400px;
	margin: auto;
	width: 100%;
}
@media (max-width: 768px) {
	.main-container {
			padding: 1rem
		}
}


