@import 'assets/colors.scss';
@import '../../reponsive.scss';
.slider {
	margin-top: 3.5rem;
	margin-bottom: 4rem;
	width: 100vw;
	left: calc(-50vw + 50%);
	position: relative;
}
.image_slider {
	width: 100%;
	height: 600px;
}
@media (max-width: 1024px) {
	.image_slider {
		width: 100%;
		height: auto;
	}
}
@media (max-width: 768px) {
	.image_slider {
			width: 100%;
			height: auto;
	}
}

/* banner demo */
.hero-banner-container {
	padding: 100px 40px;
	background-color: #dcdcdc;
	border-radius: 15px;
	position: relative;
	height: 200px;
	line-height: 0.9;
	width: 100%;
	margin-top: 20px;
}

.hero-banner-container .beats-solo {
	font-size: 20px;
}

.hero-banner-container h3 {
	font-size: 4rem;
	margin-top: 4px;
}

.hero-banner-container h1 {
	color: white;
	font-size: 10em;
	margin-left: -20px;
	text-transform: uppercase;
}

.hero-banner-image {
	position: absolute;
	top: 0%;
	right: 20%;
	width: 450px;
	height: 450px;
}
.hero-banner-container {
	line-height: 1.3;
}

.hero-banner-container h1 {
	font-size: 50px;
}

.hero-banner-container h3 {
	font-size: 40px;
}

.slick-prev:before,
.slick-next:before {
	color: #dcdcdc;
}

.carousel .slick-arrow.slick-prev,
.carousel .slick-arrow.slick-next {
	background: #fcfcfc;
	width: 47px;
	height: 104px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
	box-shadow: 1px 2px 10px -1px rgb(0 0 0 / 30%);
}

.carousel .slick-prev {
	left: 0;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
}

.carousel .slick-next {
	right: 0;
	border-bottom-left-radius: 7px;
	border-top-left-radius: 7px;
}

.slick-prev::before,
.slick-next::before {
	display: none;
}

.custom-indicator {
	bottom: -65px;
}

.custom-indicator li {
	width: 50px;
	height: 50px;
	filter: grayscale(100%);
}

.custom-indicator li.slick-active {
	filter: grayscale(0%);
}

.multi__image:hover {
	transform: scale(1.1);
	transition: 500ms;
}