// SLIDER SYNCING

.slider_1 {
   width: inherit;
}

.slider_2 {
   margin-top: 10px;
}

.slick-track {
   display: flex !important;
}

@media (max-width: 1023px) {
   .slider_container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 10px;
      width: 100%;
   }

   .slider_2 {
      width: 350px;
   }
}

@media (max-width: 768px) {
   .slider_container {
      margin-top: 1rem;
   }

   .slider_1 {
      width: 100%;
   }

   .slider_2 {
      width: 100%;
   }
}