@import 'assets/colors.scss';
@import '../../reponsive.scss';

.slider {
	margin-top: 3.2rem;
	margin-bottom: 4rem;
	position: relative;
}

.image_slider {
	width: 100%;
	height: 600px;
}

.SlickArrowLeft {
	background-color: $black;
}

.slick-arrow.slick-prev,
.slick-arrow.slick-next {
	background: #515154;
	opacity: .25;
	width: 47px;
	height: 104px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
	box-shadow: 1px 2px 10px -1px rgb(0 0 0 / 30%);
}

.slick-arrow.slick-prev:hover,
.slick-arrow.slick-next:hover {
	background: #515154;
	box-shadow: none;
	opacity: 1;
}

.slick-prev {
	left: 0;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
}

.slick-next {
	right: 0;
	border-bottom-left-radius: 7px;
	border-top-left-radius: 7px;
}

.slick-prev::before,
.slick-next::before {
	display: none;
}

@media (max-width: 1024px) {
	.slider {
		width: 100vw;
		padding: 25px;
	}

	.image_slider {
		width: 100%;
		height: auto;
	}
}

@media (max-width: 768px) {
	.slider {
		margin-top: 2.5rem;
		width: 100vw;
		padding: 25px;
		left: calc(-50vw + 50%);
	}

	.image_slider {
		width: 100%;
		height: auto;
	}

	.slick-arrow.slick-prev,
	.slick-arrow.slick-next {
		width: 30px;
		height: 60px;
	}
}