// SLIDER SYNCING
.slider_container {
   width: 600px;
   height: 600px;
}

.slider_1 {
   width: 450px;
}

.slider_2 {
   width: 500px;
   margin-top: 10px;
   height: 220px;
}

@media (max-width: 1023px) {
   .slider_container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
}

@media (max-width: 768px) {
   .slider_container {
      height: 400px;
   }

   .slider_1 {
      width: 350px;
   }

   .slider_2 {
      width: 300px;
      height: 220px;
   }
}